<div id="families">
  <h2><%= title %></h2>
  <% for(var i = 0; i < families.length; i++) { %>
    <a href="<%= families[i].link %>"><%= families[i].name %></a>
  <% } %>
</div>
<div id="family"></div>
<div id="animal"></div>
<p>Keep an eye on the url when browsing the animals...</p>
